.area {
  background-color: gold;
  width: 600px;
  height: 600px;
}

.ball {
  background-color: white;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
}

.racket {
  width: 100px;
  height: 20px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 555px;
  background-color: cadetblue;
}

.result {
  text-align: center;
  font-size: larger;
  color: black;
}
